<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'onboro/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'onboro/css/custom.css' %}">
    <title>{% block title %}Book On{% endblock %}</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Book On</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {# ここに検索フォームを追加します #}
                {% if search_form %}
	                <form class="d-flex" action="{% url 'onboro:book_search' %}" method="get">
	                    <div class="input-group">
	                        {{ search_form.category|add_class:"form-select" }}
	                        {{ search_form.word|add_class:"form-control me-2" }}
	                    </div>
	                    <button class="btn btn-outline-success" type="submit">Search</button>
	                </form>
                {% endif %}

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        {# ログインしている場合は誰でログインしているか表示し、ログアウトリンクを出力 #}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                                {{ user.username }}
                            </a>
                            <ul class="dropdown-menu">
                                <form action="{% url 'onboro:logout' %}" method="post">
                                    {% csrf_token %}
                                    <!-- dropdown-itemを指定すると見た目はリンクになる -->
                                    <input type="submit" value="ログアウト" class="dropdown-item">
                                </form>
                            </ul>
                        </li>
                    {% else %}
                        {# ログインしていない場合はログインリンクを表示 #}
                        <li class="nav-item">
                            <a href="{% url 'onboro:login' %}" class="nav-link">
                                ログイン
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block contents %}
        {% endblock %}
    </div>
    <script src="{% static 'onboro/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
